{
 :mvn/repos {"clojars" {:url "https://repo.clojars.org/"}
             "central" {:url "https://repo1.maven.org/maven2/"}}

 :paths     ["src" "resources"]

 :deps      {org.clojure/clojure       {:mvn/version "1.11.1"}
             com.cognitect/transit-clj {:mvn/version "1.0.329"}
             prometheus/prometheus      {:git/url "https://github.com/HealthSamurai/prometheus.clj"
                                         :sha "da2265539b1e65ac5b6d3a570f9f12a95b54361f"}}

 :aliases   {
             :repl        {:extra-deps  {nrepl/nrepl                {:mvn/version "1.0.0"}
                                         healthsamurai/matcho       {:mvn/version "0.3.9"}
                                         criterium/criterium        {:mvn/version "0.4.6"}
                                         mvxcvi/puget               {:mvn/version "1.3.4"}
                                         hashp/hashp                {:mvn/version "0.2.2"}}
                           :extra-paths ["dev/src" "resources" "test"]
                           :jvm-opts    ["--enable-preview"]
                           :main-opts   ["--main" "nrepl.cmdline"]}

             :test        {:extra-deps  {org.clojure/test.check        {:mvn/version "1.1.1"}
                                         healthsamurai/matcho          {:mvn/version "0.3.10"}
                                         lambdaisland/kaocha           {:mvn/version "1.71.1119"}
                                         lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}
                           :extra-paths ["resources" "test" "test/resources"]
                           :jvm-opts    ["--enable-preview"]
                           :main-opts   ["--main" "kaocha.runner"]}

             :test-runner {:extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                                         healthsamurai/matcho                 {:mvn/version "0.3.10"}}
                           :extra-paths ["resources" "test" "test/resources"]
                           :jvm-opts    ["--enable-preview"]
                           :main-opts   ["-m" "cognitect.test-runner"]
                           :exec-fn     cognitect.test-runner.api/test}


             :build       {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.8.5" :git/sha "de693d0"}}
                           :ns-default build}


             ;; slf4j-nop is required to suppress warning "org.slf4j.impl.StaticLoggerBinder"
             :outdated    {:extra-deps {com.github.liquidz/antq {:mvn/version "2.2.970"}
                                        org.slf4j/slf4j-nop     {:mvn/version "2.0.6"}}
                           :main-opts  ["-m" "antq.core"]}
             }}
